@charset "UTF-8"
/* CSS Document 
 Typical Device Breakpoints
 Celular: de 600px até 768px
 Tableta: 768px até 992px
 Desktop: 992px até 1200px
 Grande telas: acima de 1200px

*/


@media screen and (min-width: 768px) and (max-width: 992px ) {
    ::selection#login {
        width: 90vw;
   
    }
}

section#login >div#imagem {
    float: left;
    width: 30%;
    height: 100%;
}